
<html>
<head>
<title>drag and drop app </title>
<body>
<table>
<tr>
<th>name</th>
</tr>
<tr>
<td><%= @country.name %></td>
</tr>
</table>

<%= link_to 'Edit', "countries/edit" %>
</body>
</head>
</html>